@model IEnumerable<AppMvcBasica.Models.Endereco>

@{
    ViewData["Title"] = "Lista de Endereços";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a class="btn btn-info" asp-action="Create">Novo Endereço</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* Não está gravando a coluna Clienteid1 e por isso não está apresentando o nome do Cliente@
                    @* por falta de tempo não posso analisar os relacionamentos realizados pelo Entity Framework@
                    @* Mostrando na página o ClienteID para a visualização de mais de um endereço para o mesmo cliente@
                    @* @Html.DisplayFor(modelItem => item.Cliente.Nome)*@
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td class="text-right">
                    <a  asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a  asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a  asp-action="Delete" asp-route-id="@item.Id">Excluir </a>
                </td>
            </tr>
        }
    </tbody>
</table>
